.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
}

form {
  width: 300px; /* Adjust according to your preference */
  margin-left: 600px;
}
