

<!-- String -->
<!--<p>Original: {{ message }}</p>
<p>Uppercase: {{ message | uppercase }}</p>
<p>Lowercase: {{ message | lowercase }}</p>-->


<!--Number-->
<!--<p>Decimal: {{ pi | number:'1.2-3' }}</p>-->

<!--<p>Currency: {{ price | currency:'EUR' }}</p>-->

<!--<p>Percentage: {{ Percent | percent }}</p>-->


<!--Date-->
<!--<p>Today: {{ today | date:'shortTime' }}</p>-->

<!-- Array -->
<!--<p>Sliced Array: {{ fruits | slice:1:3 }}</p>-->


<!-- Object -->
<!--<p>Object: {{ user | json }}</p>-->

