.badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.admin {
  background-color: green;
}

.user {
  background-color: blue;
}

.guest {
  background-color: gray;
}
